.list-facet > ul {
	overflow-y: auto;
	height: 200px;
}

.list-facet > ul > li {
	cursor: pointer;
}

.list-facet > ul > li:hover {
	text-decoration: underline;
}

.range-facet > label:last-of-type {
	float: right;
}

.range-facet .facet-range-slider {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
	-webkit-user-drag: none;
	user-drag: none;
	cursor: pointer;
	width: 100%;
	stroke: #f1ebe6;
	fill: #f1ebe6;
}

.range-facet .facet-range-slider .range-line {
	stroke-width: 8;
}

.range-facet .facet-range-slider .range-line circle {
	stroke-width: 0;
}

.range-facet .facet-range-slider .range-line circle.hovering,
.range-facet .facet-range-slider .range-line circle:hover {
	fill: #bda47e;
}

.range-facet .facet-range-slider .range-line path.hovering,
.range-facet .facet-range-slider .range-line path:hover {
	stroke: #bda47e;
}